<ul>
    <li>@Html.ActionLink("Dashboard", "dashboard")</li>
    <li>@Html.ActionLink("Data Master", "master")</li>
    <li>@Html.ActionLink("Proses", "process")</li>
    <li>@Html.ActionLink("Monitoring", "monitor")</li>
    <li>@Html.ActionLink("Laporan", "report")</li>
</ul>
