<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
    @Assets.Script("jquery-1.9.1.min.js")
    @Assets.Script("angular.min.js")
</head>
<body>
    <div id="sgheader">
        <div class="huserinfo">Logged as admin | @DateTime.Now.ToLongDateString() | <a>Log Out</a></div>
        <div class="htitle">Seemok Dev</div>
        <div class="hmenu">
            <ul><li><a href="#"></a></li></ul>
        </div>
        <div class="hinfo">One or more of the Indexes are not up to date: Click <a href="#">here</a> to go to Index Management and rebuild required indexes.</div>
    </div>
    <div id="sgbody">
        @RenderBody()
    </div>
    <div id="sgfooter">
    </div>
</body>
</html>
@Assets.CSS("bootstrap.min.css")
@Assets.CSS("seemok.min.css")
@Assets.Script("jquery.hashable.js")
@Assets.Script("knockout-2.2.1.js")
@Assets.Script("seemok.core.js")
