@using Seemok.Models
@*@Forms.Toolbar("Input SPK", new Button { Id = "btnNew", Caption = "New" }, new Button { Id = "btnAllocation mechanic", Caption = "allocation mechanic" }, new Button { Id = "btnBrowse", Caption = "Browse" }, new Button { Id = "btnSave", Caption = "Save" })
@Forms.Subtitle("Informasi Umum")
@Forms.TextBox("JobOrderNo", "No SPK")
@Forms.TextBox("JobOrderDate", "Tgl SPK")
@Forms.TextBox("PoliceRegNo", "No Polisi")
@Forms.TextBox("CustomerCode", "Pemilik")
@Forms.TextBox("CustAddress1", "Alamat")
@Forms.TextBox("CustAddress2", "")
@Forms.TextBox("CustAddress3", "")
@Forms.TextBox("CustAddress4", "")
@Forms.Subtitle("Informasi Pembayar")
@Forms.TextBox("CustomerCode", "Pembayar")
@Forms.TextBox("CustAddress1", "Alamat")
@Forms.TextBox("CustAddress2", "")
@Forms.TextBox("CustAddress3", "")
@Forms.TextBox("CustAddress4", "")*@

<script src="../../../assets/js/jquery-scrollspy.js"></script>
<style>
    .span1 { width: 100px !important; }
    .span2 { width: 200px !important; }
    .span3 { width: 300px !important; }
    .span4 { width: 400px !important; }
    div.input-prepend > input, div.input-append > input  { padding: 4px !important; }

ol.progtrckr { margin: 0; padding: 0; list-style-type: none; }
ol.progtrckr li { display: inline-block; text-align: center; line-height: 3em;}
ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckr-done { color: black; border-bottom: 4px solid black; }
ol.progtrckr li.progtrckr-todo { color: silver; border-bottom: 4px solid silver;}

ol.progtrckr li:after { content: "\00a0\00a0";}
ol.progtrckr li:before {position: relative; bottom: -2.5em;float: left;left: 50%;line-height: 1em;}

/**style icon*/

ol.progtrckr li.progtrckr-done:before
    {
        content: "\2713";
        color: white;
        background-color: black;
        height: 1.2em;
        width: 1.2em;
        line-height: 1.2em;
        border: none;
        -moz-border-radius: 1.2em;
        -webkit-border-radius: 1.2em;
        border-radius: 1.2em;
    }

ol.progtrckr li.progtrckr-todo:before 
    {
        content: "\039F";
        color: silver;
        background-color: white;
        font-size: 1.5em;
        bottom: -1.6em;
    }

/*Scrol spy*/
    .fixed
    {
        position: fixed;
        top: 10px;
        -moz-box-shadow: 1px 1px 8px #808080;
        -webkit-box-shadow: 1px 1px 8px #808080;
        box-shadow: 1px 1px 8px #808080;
        width: 70%;
        background-image: linear-gradient(to bottom, #E6E6E6, #FFF);
        z-index: 1000;
        padding: 5px !important;
        border: 1px solid #DBDDDF;
        border-bottom: 1px solid #DBDDDF !important;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }
    .fixed + * { padding-top: 70px;}
</style>
@Forms.Toolbar("Input SPK",
    new Button { Id = "btnNew", Caption = "New" },
    new Button { Id = "btnBrowse", Caption = "Browse" },
    new Button { Id = "btnSave", Caption = "Save" },
    new Button { Id = "btnPrint", Caption = "Print" },
    new Button { Id = "btnAloc", Caption = "Pengerjaan & Alokasi" })

@Forms.Subtitle("Summary")
<div class="input-prepend">
    <span class="add-on">No</span>
    <input class="span2" type="text" placeholder="JOB0001" readonly="readonly">
</div>
<div class="input-append">
    <span class="add-on">Biaya</span>
    <input class="span3" type="text" id="biaya" data-content="Detail Biaya" rel="popover" data-original-title="Detail" data-placement="bottom" readonly="readonly" placeholder="2.000.000,00">
</div>

<br />
<hr />
<ol class="progtrckr" data-progtrckr-steps="5">
    <li class="progtrckr-done">Open</li>
    <li class="progtrckr-done">Pengerjaan</li>
    <li class="progtrckr-done">Selesai</li>
    <li class="progtrckr-todo">Faktur</li>
    <li class="progtrckr-todo">Printed</li>
</ol>

<script>
    $('#biaya').mouseenter(function () {
        $(this).popover('show');
    });

    $('#biaya').mouseleave(function () {
        $(this).popover('hide');
    });

    $('#status').change(function () {
        if ($(this).val() == 2) {
            $('#invoice').removeAttr('disabled');
        }
    });

    $('#btnAloc').click(function () {
        $('.svworking').click();
    });

    $(window).load(function () {
        $("ol.progtrckr").each(function () {
            $(this).attr("data-progtrckr-steps", $(this).children("li").length);
        });
    })

    $(document).ready(function () {
        $('.btitle,.side-left').scrollspy({
            min: $('.btitle,side-left').offset().top,
            onEnter: function (element, position) {
                $(".btitle,side-left").addClass('fixed');
            },
            onLeave: function (element, position) {
                $(".btitle,side-left").removeClass('fixed');
            }
        });
    });
</script>

@Forms.Subtitle("Informasi Umum")
<div class="control-group">
    <label class="control-label">Nama Pelangan</label>
    <div class="controls">
        <div class="input-prepend">
            <button class="btn">O</button>
            <input type="text" class="span1" readonly="readonly" placeholder="Kode">
        </div>
        <div class="input-append">
            <input type="text" class="span3" readonly="readonly" placeholder="Nama Pelanggan">
            <button class="btn">Detail</button>
        </div>
    </div>
</div>

<div class="control-group">
    <label class="control-label">Kendaraan</label>
    <div class="controls">
        <div class="input-prepend">
            <button class="btn">O</button>
            <input type="text" class="span1" readonly="readonly" placeholder="No Polisi">
        </div>
        <div class="input-append">
            <input type="text" class="span3" readonly="readonly" placeholder="No Rangka - No Mesin">
            <button class="btn">Detail</button>
        </div>
    </div>
</div>

<div class="control-group">
    <label class="control-label">Pembayar</label>
    <div class="controls">
        <div class="input-prepend">
            <button class="btn">O</button>
            <input type="text" class="span1" readonly="readonly" placeholder="Kode">
        </div>
        <div class="input-append">
            <input type="text" class="span3" readonly="readonly" placeholder="Nama Pembayar">
            <button class="btn">Detail</button>
        </div>
    </div>
</div>

@Forms.Subtitle("Informasi Pengerjaan")

<div class="control-group">
    <label class="control-label">Jenis Pekerjaan</label>
    <div class="controls">
        <div class="input-prepend">
            <button class="btn">O</button>
            <input type="text" class="span1" readonly="readonly" placeholder="Kode">
        </div>
        <div class="input-append">
            <input type="text" class="span3" readonly="readonly" placeholder="Pekerjaan">
            <button class="btn">Detail</button>
        </div>
    </div>
</div>

<div class="control-group">
    <label class="control-label">Foreman</label>
    <div class="controls">
        <div class="input-prepend">
            <button class="btn">O</button>
            <input type="text" class="span1" readonly="readonly" placeholder="Kode">
        </div>
        <div class="input-append">
            <input type="text" class="span3" readonly="readonly" placeholder="Nama Foreman">
        </div>
    </div>
</div>

<div class="control-group">
    <label class="control-label">Mekanik</label>
    <div class="controls">
        <div class="input-prepend">
            <button class="btn">O</button>
            <input type="text" class="span1" readonly="readonly" placeholder="Kode">
        </div>
        <div class="input-append">
            <input type="text" class="span3" readonly="readonly" placeholder="Nama Mekanik">
        </div>
    </div>
</div>

<div class="control-group">
    <label class="control-label"></label>
    <textarea placeholder="Pesan kepada mekanik"></textarea>
</div>
